<div class="container">
  <div class="card-panel">
    <form class="col s12" routerLink="/register" method="post" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s12">
          <input id="firstName" name="firstName" type="text" class="validate" required [(ngModel)]="model.firstName">
          <label for="firstName">First name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="surname" name="surname" type="text" class="validate" required [(ngModel)]="model.surname">
          <label for="surname">Surname</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="age" name="age" type="number" class="validate" required [(ngModel)]="model.age">
          <label for="age">Age</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate" required [(ngModel)]="model.email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate" required [(ngModel)]="model.password">
          <label for="password">Password</label>
        </div>
      </div>
      <div *ngIf="errorMessage" class="row">
        <div class="col s12">
          <p class="red-text">{{ errorMessage }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <button class="btn waves-effect waves-light light-green darken-2 center-align" type="submit" name="action">
            Register
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
