<div class="container">
  <div class="card-panel">
    <div class="section"></div>
    <div class="row center">
      <div class="col s6">
        <a routerLink="/examQuiz/create" id="exam-quiz-button"
           class="btn-large waves-effect waves-light light-green darken-2 center-align">Exam quiz</a>
      </div>
      <div class="col s6">
        <a routerLink="/gamefiedQuiz/create" id="gamefied-quiz-button"
           class="btn-large waves-effect waves-light light-green darken-2 center-align">Gamefied quiz</a>
      </div>
    </div>
  </div>
</div>

